<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <img src="assets/images/logo&title.svg">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      </ul>
      <a class="btn btn-primary text-white" href="#">Sign In</a>
    </div>
  </div>
</nav>


<!-- Hero Section -->
<div class="container my-5">
  <div class="row align-items-center">
    <!-- Left Text Section -->
    <div class="col-lg-6 text-center text-lg-start">
      <h1 class="fw-bold display-4 mb-4">Discover best classes for the best learning</h1>
      <p class="text-muted mb-4">We designed Connections Academy to give students all across the nation a tuition-free online public school that helps them learn.</p>
      <a class="btn btn-primary btn-lg mb-4" href="#">Get Started</a>
      <p class="text-muted">Not sure when to start? <a href="#" class="text-decoration">Learn more</a></p>
    </div>
    <!-- Right Image Section -->
    <div class="col-lg-6 position-relative text-center">
      <img src="assets/images/man.svg" class="img-fluid" alt="Man illustration">
    </div>
  </div>
</div>
