<div class="container my-5">
  <div class="row">
    <div class="col-sm-6">
      <img src="assets/images/Group114.svg" alt="">
    </div>
    <div class="col-sm-6">
      <h1 class="text-center mb-4">How our online public school works</h1>
      <br>
      <div class="row">
        <div class="col-sm-6 mb-4">
          <img src="assets/images/Vector4.svg" alt=""> <br>
          <b>Virtual Learning</b>
          <p>The only costs are for standard school supplies and voluntary field trips.</p>
        </div>
        <div class="col-sm-6 mb-4">
          <img src="assets/images/Vector1.svg" alt=""> <br>
          <b>Meaningful Education</b>
          <p>Many of our Connections Academy schools have additional accreditations.</p>
        </div>
        <div class="col-sm-6">
          <img src="assets/images/Vector2.svg" alt=""> <br>
          <b>Online Curriculum</b>
          <p>Our curriculum prepares students to go further in life by giving them support.</p>
        </div>
        <div class="col-sm-6">
          <img src="assets/images/Vector.svg" alt=""> <br>
          <b>Social Interaction</b>
          <p>Students at Connections Academy collaborate on projects together.</p>
        </div>
      </div>
    </div>
  </div>
</div>
