<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-lg-3 text-lg-start">
      <h1 class="fw-bold display-5">400+</h1>
      <p class="text-muted">Universities worldwide that partner with us.</p>
    </div>
    <div class="col-lg-9">
      <div class="d-flex flex-wrap justify-content-end align-items-center gap-4">
        <img src="assets/images/MaskGroup.svg" class="img-fluid" alt="McGill University" style="max-height: 50px;">
        <img src="assets/images/MaskGroup-1.svg" class="img-fluid" alt="Amity University" style="max-height: 50px;">
        <img src="assets/images/MaskGroup-2.svg" class="img-fluid" alt="University of Houston" style="max-height: 50px;">
        <img src="assets/images/MaskGroup-3.svg" class="img-fluid" alt="University of Plymouth" style="max-height: 50px;">
      </div>
    </div>
  </div>
</div>
