<div class="container my-5">
  <div class="row mb-4">
    <div class="col-sm-6">
      <h1 class="mb-4">How our online <br>public school works</h1>
    </div>
    <div class="col-sm-6 d-flex flex-wrap justify-content-end align-items-center gap-4">
      <a href="#" class="btn btn-outline-primary">View all courses</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/1.png" class="card-img-top" height="150px" alt="Course 1">
        <div class="card-body">
          <h5 class="card-title mb-4">Hands-On Python & R Data Science</h5>
          <div class="card-text mb-4">
            <div class="row">
              <div class="col-sm-6">
                <span class="bi bi-people"></span>
              </div>
              <div class="col-sm-6">
                <span class="bi bi-star-fill"></span>
              </div>
            </div>
          </div>
          <button class="btn btn-outline-primary w-100"><span class="bi bi-cart4"></span> Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/2.png" class="card-img-top" height="150px" alt="Course 2">
        <div class="card-body">
          <h5 class="card-title">Science and Machine Learning Bootcamp</h5>
          <p class="card-text">6 months</p>
          <button class="btn btn-primary w-100"><span class="bi bi-cart4"></span> Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/3.png" class="card-img-top" height="150px" alt="Course 3">
        <div class="card-body">
          <h5 class="card-title">The Python Mega Course: Real Applications</h5>
          <p class="card-text">5 months</p>
          <button class="btn btn-outline-primary w-100"><span class="bi bi-cart4"></span> Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
